<div id="<%= dom_id register_product %>">
<table class="table">
  <thead>
    <tr>
      <th><strong>Nome<strong></th>
      <th><strong>Descrição<strong></th>
      <th><strong>Preço<strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= register_product.titulo %></td>
      <td><%= register_product.descricao %></td>
      <td><%= register_product.valor %></td>
    </tr>
  </tbody>
</table>

<!--COMENTÁRIOS
<p>
    <strong>Nome:</strong>
    <%= register_product.titulo %>
  </p>

  <p>
    <strong>Descroção:</strong>
    <%= register_product.descricao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= register_product.valor %>
  </p>
-->
</div>
